<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="border-2 py-8 px-6">
      <div class="flex justify-between items-center">
        <a
          href="/users/login"
          class="text-xl border-2 py-1 px-4 rounded-md text-white bg-red-500"
          >Login</a
        >
        <a
          href="/users/register"
          class="text-xl border-2 py-1 px-4 rounded-md bg-green-400 text-white"
          >Register</a
        >
        <a
        href="/users/logout"
        class="text-xl border-2 py-1 px-4 rounded-md bg-blue-400 text-white"
        >logout</a
      >
      </div>
    </header>
    <section>
      <h1 class="text-center text-3xl mt-20">Register User</h1>
    </section>
  </body>
</html>
