<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="border-2 py-8 px-6">
      <div class="flex justify-between items-center">
        <a
          href="/"
          class="text-xl border-2 py-1 px-4 rounded-md bg-green-400 text-white"
          >Login</a
        >
        <a
          href="/users/register"
          class="text-xl border-2 py-1 px-4 rounded-md bg-green-400 text-white"
          >Register</a
        >
      </div>
    </header>
  </body>
</html>
