<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="border-2 py-8 px-6">
      <div class="flex justify-between items-center">
        <a
          href="/users/login"
          class="text-xl border-2 py-1 px-4 rounded-md text-white bg-red-500"
          >Login</a
        >
        <a
          href="/users/register"
          class="text-xl border-2 py-1 px-4 rounded-md bg-green-400 text-white"
          >Register</a
        >
      </div>
    </header>
    <section class="h-screen">
      <div class="flex justify-between items-center h-4/6">
        <form
          action="/users/register"
          method="POST"
          class="w-4/12 border-2 p-8 m-auto"
        >
          <% if(error){%>
          <p class="text-red-600"><%= error %></p>
          <%}%>
          <input
            class="
              border-2
              w-full
              mt-5
              py-2
              px-2
              rounded-md
              focus:outline-none focus:border-green-400
            "
            type="text"
            name="name"
            placeholder="Enter Name"
          />
          <input
            class="
              border-2
              w-full
              mt-5
              py-2
              px-2
              rounded-md
              focus:outline-none focus:border-green-400
            "
            type="email"
            name="email"
            placeholder="Enter Email"
          />
          <input
            class="
              border-2
              w-full
              mt-5
              py-2
              px-2
              rounded-md
              focus:outline-none focus:border-green-400
            "
            type="password"
            name="password"
            placeholder="Enter Password"
          />
          <input
            class="
              border-2
              w-full
              mt-5
              py-2
              px-2
              rounded-md
              focus:outline-none focus:border-green-400
            "
            type="number"
            name="age"
            placeholder="Enter age"
          />
          <input
            class="
              border-2
              w-full
              mt-5
              py-2
              px-2
              rounded-md
              focus:outline-none focus:border-green-400
            "
            type="number"
            name="phone"
            placeholder="Enter Phone"
          />
          <input
            class="
              border-2
              w-full
              mt-5
              py-2
              px-2
              rounded-md
              focus:outline-none focus:border-green-400
            "
            type="submit"
          />
        </form>
      </div>
    </section>
  </body>
</html>
