<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Article</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="border-2 shadow-sm p-8 text-xl flex justify-between">
        <a class="border-2 bg-green-500 py-1 px-3 rounded-md text-white" href="/articles">List of Articles</a>
        <div class="">
            <!-- <a class="border-2 bg-green-500 py-1 px-3 rounded-md text-white" href="/users/login">home</a> -->
            <a class="border-2 bg-red-500 py-1 px-3 rounded-md text-white" href="/users/logout">Logout</a>
        </div>
    </header>

    <main class="h-screen">
        <section class="h-5/6 flex justify-center items-center">
            <form action="/articles" method="POST" class="w-4/12 border-2 p-10">
                <h2 class="text-xl font-bold">Register With Your Details</h2>
                <input class="w-full p-3 border-2 mt-4 rounded-md" type="text" name="title" placeholder="Enter Title of The Article">
                <textarea class="w-full p-3 border-2 mt-4 rounded-md" name="description" id="" cols="30" rows="5" placeholder="type Description"></textarea>
                <input class="w-full p-3 border-2 mt-4 rounded-md" type="submit">
            </form>
        </section>
    </main>
</body>
</html>