<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="border-2 shadow-sm p-8 text-xl flex justify-between">
       <div>
        <a class="border-2 bg-green-500 py-1 px-3 rounded-md text-white" href="/articles/new">Add Article</a>
        <a class="border-2 bg-green-500 py-1 px-3 rounded-md text-white" href="/articles">list of Articles</a>
       </div>
        <div class="">
           
            <a class="border-2 bg-red-500 py-1 px-3 rounded-md text-white" href="/users/logout">Logout</a>
        </div>
    </header>

    <main>
        <section>
            <h2 class="text-center text-xl font-bold">Welcome to Dashboard</h2>
        </section>
    </main>
</body>
</html>